/*.sapMListTblCell.sapMListTblHeaderCell.sapMTableTH{
	background-color: #99c5fd !important;
}
*/
/*#__component0---AjustesRegistrosNuevo--pd1, #__component0---AjustesRegistrosNuevo--pd2, #__component0---AjustesRegistrosNuevo--pd3, #__component0---AjustesRegistrosNuevo--pd4{
	background-color: #99c5fd !important;
}

#__component0---AjustesRegistrosNuevo--aj1, #__component0---AjustesRegistrosNuevo--aj2{
	background-color: #ff3547 !important;
}

#__component0---AjustesRegistrosNuevo--pr1, #__component0---AjustesRegistrosNuevo--pr2, #__component0---AjustesRegistrosNuevo--pr3{
	background-color: #4bd0ab !important;
}*/

#frgPtoTrabajo--m1, #frgPtoTrabajo--m2, #frgPtoTrabajo--m3, #frgPtoTrabajo--m4{
	border-right: 1px solid lightgray !important;
    /*border-top: 1px solid lightgray !important;*/
}